{% load static %}
<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Move With Umam</title>
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">MWU</a>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/profil">Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/join/snippet">Join Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/prestasi">Prestasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agenda">Mission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="row">
            <img src="https://image.ibb.co/h2ug8p/masumam.jpg" class="img rounded" alt="" style="height:200px">
            <div class="content__container">
                <p class="content__container__text">Move</p>
                <ul class="content__container__list">
                    <li class="content__container__list__item">With Umam !</li>
                    <li class="content__container__list__item">In Harmony !</li>
                    <li class="content__container__list__item">With Us !</li>
                    <li class="content__container__list__item">Indonesia !</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="choosecnt" style="text-align:center"> 125.801.489</div>
    <div class="peoplecnt" style="text-align:center">People Move with Umam!<br><br> <a href="/join/snippet" type="button" class="btn btn-danger" style="text-align:center" >Join The Move</button></a>        
    
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://image.ibb.co/h2ug8p/masumam.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Prestasi</h5>
                    <p class="card-text">Keberhasilan Pembangunan Jalan Tol Trans Sumatera</p>
                    <a href="#" class="btn btn-danger">Selengkapnya</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://image.ibb.co/h2ug8p/masumam.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Agenda</h5>
                        <p class="card-text">Selesai Meninjau Palu dan Donggala, Iswanul Umam Evaluasi Penanganan Pascagempa</p>
                        <a href="#" class="btn btn-danger">Selengkapnya</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://image.ibb.co/h2ug8p/masumam.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Agenda</h5>
                            <p class="card-text">Iswanul Umam Ingin Semangat Wirausaha Mahasiswa Bangkit</p>
                            <a href="#" class="btn btn-danger">Selengkapnya</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://image.ibb.co/h2ug8p/masumam.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prestasi</h5>
                                <p class="card-text">Iswanul Umam Dorong Pemuda Berani Hadapi Tantangan</p>
                                <a href="#" class="btn btn-danger">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>

</html>