{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'join.css' %}">
    <title>Join Move With Umam</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">MWU</a>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/join/snippet">Join Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Prestasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="row">
            <img src="https://image.ibb.co/h2ug8p/masumam.jpg" class="img rounded" alt="" style="height:200px">
            <div class="content__container">
                <p class="content__container__text">Move</p>
                <ul class="content__container__list">
                    <li class="content__container__list__item">With Umam !</li>
                    <li class="content__container__list__item">In Harmony !</li>
                    <li class="content__container__list__item">With Us !</li>
                    <li class="content__container__list__item">Indonesia !</li>
                </ul>
            </div>
        </div>
    </div>



    <form method="post">
        <div class="form-deskrip">Beritahu kami bagaimana kami bisa membantu Indonesia menjadi lebih baik! </div>
        {% csrf_token %}
        <div class="form-nama">Nama: {{ form.name}} </div>
        <br>
        <div class="form-isi">{{form.body}}</div>

        <button class="btn-danger" type="submit">Submit</button>
    </form>

</body>

</html>